#body {
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container {
    flex: 1 1 auto;
    background-color: blueviolet;
    height: 500px;
    width: 300px;
    border: 1px solid brown;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-self: center;
}
.screen {
    background-color: rgb(233, 177, 57);
    height: 70px;
    width: 280px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
}
.para {
    color: black;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.btnDiv {
    width: 280px;
    height: 400px;
    margin: 10px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}
.btn {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
}
#equalBtn {
    width: 130px;
}
#clearBtn {
    width: 130px;
}
.opBtn {
    background-color: rgb(229, 238, 106);
}
.numBtn {
    background-color: rgb(144, 197, 243);
}